body {
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  /*background-image: linear-gradient(to bottom, #020917, #101725);*/
}

.content {
  display: flex;
  /*min-height: 100vh;*/
  line-height: 1.1;
  flex-direction: column;
}

.content button {
  margin: 0.2em;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
}

.tableLeft {
  text-align: left;
}

.tableRight {
  text-align: right;
}

.tableCenter {
  text-align: center;
}

.inline {
  display: flex;
}

.flex {
  display: flex;
  flex: 1;
  justify-content: space-around;
}