.right {
  text-align: right;
}

.red {
  background-color: red;
  border-radius: 4px;
}

.blue {
  background-color: blue;
  color: white;
  border-radius: 4px;
}

.green {
  background-color: green;
  border-radius: 4px;
}

.black-suit {
  color: black;
}

.red_suit {
  color: red;
}

.bidding button {
  width: 2em;
}