.hand {
  display: flex;
  min-height: 10vh;
  line-height: 1.1;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin: 1.5rem;
  width: 200px;
}

.hand p {
  font-size: 1.2rem;
  margin: 0.2rem;
}

.active {
  background-color: #ccccff;
}

.vulnerable {
  background-color: #d73b3e; /* "Jasper" https://html-color.codes/red */
}